# Next.js
.next/
out/

# node_modules
/node_modules

# npm
npm-debug.log*
.npm/

# yarn
yarn-debug.log*
.yarn/
.pnp.*

# dotenv
.env
.env*.local

# logs
logs/
*.log

# misc
.DS_Store
Thumbs.db

# vercel
.vercel/

# supabase
supabase/.temp/
supabase/db/
